#slide--3 {
  .slide-3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .planning-one {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      gap: 10rem;
      justify-content: center;
      .info-text {
        margin: 0.3rem;
        font-size: 1.5rem;
        line-height: 2.4rem;
        width: 40rem;
      }
      .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 20rem;
        }
        p {
          color: gray;
        }
      }
    }
  }
}
