#slide--17 {
    .slide-17 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        


        .image-container {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 2rem;

            img {
                width: 12%;
            }

        }
    }
}