#slide--1 {
  .slide-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .welcome {
      margin: 0;
      font-size: 44px;
      background-image: linear-gradient(#add6e6, #ffffff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      margin: 3rem 0;
      font-size: 64px;
      background-image: linear-gradient(#30a6d6, #09739d);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      span{
        font-size: 3rem;
      }
    }

    p {
      font-size: 22px;
      background-image: linear-gradient(#add6e6, #ffffff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 0rem;
      margin-bottom: 0.5rem;
    }
  }
}
