#slide--5 {
  .slide-5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tech-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10rem;
      width: 80%;
      height: 70%;
      .tech-list {
        display: flex;
        flex-direction: column;

        background-color: #0d5a78;
        width: 100%;
        height: 30rem;
        padding: 1rem;
        border-radius: 0 3rem;
        h2 {
          align-self: center;
          font-size: 2rem;
        }
        ul {
            padding: 0 5rem;
          li {
            font-size: 1.5rem;
            margin: 0.5rem;
          }
        }
      }
    }
  }
}
