#slide--6 {
  .slide-6 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .screens-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      gap: 5rem;

      img {
        height: 45rem;

        object-fit: cover;
      }
    }
  }
}
