.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 2500px;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}
.slide-container .slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #000000;
  transform: translateZ(calc(var(--i) * -20rem)) scale(1);
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0rem 7rem 5rem 0rem rgba(0, 0, 0, 0.202);
  color: white;
}
.slide-container .slide.active {
  transform: translateZ(0) scale(1);
}
.slide-container .slide.previous {
  transform: translateX(-100%);
}
.slide-container .slide.overview:hover {
  transform: translateZ(calc(var(--i) * -20rem)) translateX(70%) scale(1.2);
  background-color: #111111;
  cursor: pointer;
  box-shadow: 0rem 7rem 5rem 0rem rgba(0, 0, 0, 0.165);
}

.overview-active {
  transform: translateZ(-140em) translateX(-30rem) rotateX(-35deg) rotateY(-45deg);
}

.logo {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  z-index: 1;
  cursor: pointer;
}
.logo:hover {
  opacity: 0.8;
}
.logo img {
  width: 100%;
  height: 100%;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  bottom: 2rem;
  right: 3rem;
  gap: 1rem;
  height: auto;
}
.pagination button {
  background-color: transparent;
  padding: 0;
  border: none;
}
.pagination button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.pagination button:active {
  opacity: 0.6;
}
.pagination .disabled {
  opacity: 0;
  cursor: pointer;
}
.pagination .disabled:hover {
  opacity: 0;
  cursor: auto;
}
.pagination .pagination-slide {
  font-size: 24px;
  color: #eb7405;
  min-width: 2rem;
  text-align: center;
  padding-bottom: 0.2rem;
}
.pagination .active {
  opacity: 0.6;
}

.files {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  display: flex;
  gap: 1rem;
  width: 1.5rem;
}
.files button {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}
.files button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.files button:active {
  opacity: 0.6;
}
.files button img {
  width: 100%;
  height: 100%;
}

#slide--1 .slide-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide--1 .slide-1 .welcome {
  margin: 0;
  font-size: 44px;
  background-image: linear-gradient(#add6e6, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#slide--1 .slide-1 h2 {
  margin: 3rem 0;
  font-size: 64px;
  background-image: linear-gradient(#30a6d6, #09739d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#slide--1 .slide-1 h2 span {
  font-size: 3rem;
}
#slide--1 .slide-1 p {
  font-size: 22px;
  background-image: linear-gradient(#add6e6, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

#slide--2 .slide-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#slide--2 .slide-2 .company-info {
  width: 35%;
  margin: 0 5rem;
  background-color: #043244;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  height: 70%;
  border-radius: 0 4rem;
}
#slide--2 .slide-2 .company-info h1 {
  font-size: 60px;
  color: #74cef2;
  align-self: center;
}
#slide--2 .slide-2 .company-info p {
  font-size: 1.3rem;
}
#slide--2 .slide-2 .list-container {
  width: 20%;
  margin: 0 5rem;
}
#slide--2 .slide-2 .list-container ul {
  list-style-type: circle;
}
#slide--2 .slide-2 .list-container ul li {
  font-size: 24px;
}

#slide--3 .slide-3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--3 .slide-3 .planning-one {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 10rem;
  justify-content: center;
}
#slide--3 .slide-3 .planning-one .info-text {
  margin: 0.3rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  width: 40rem;
}
#slide--3 .slide-3 .planning-one .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide--3 .slide-3 .planning-one .image-container img {
  width: 20rem;
}
#slide--3 .slide-3 .planning-one .image-container p {
  color: gray;
}

#slide--4 .slide-4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--4 .slide-4 .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#slide--4 .slide-4 .image-container img {
  width: 55%;
}

#slide--5 .slide-5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--5 .slide-5 .tech-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  width: 80%;
  height: 70%;
}
#slide--5 .slide-5 .tech-section .tech-list {
  display: flex;
  flex-direction: column;
  background-color: #0d5a78;
  width: 100%;
  height: 30rem;
  padding: 1rem;
  border-radius: 0 3rem;
}
#slide--5 .slide-5 .tech-section .tech-list h2 {
  align-self: center;
  font-size: 2rem;
}
#slide--5 .slide-5 .tech-section .tech-list ul {
  padding: 0 5rem;
}
#slide--5 .slide-5 .tech-section .tech-list ul li {
  font-size: 1.5rem;
  margin: 0.5rem;
}

#slide--6 .slide-6 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--6 .slide-6 .screens-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 5rem;
}
#slide--6 .slide-6 .screens-container img {
  height: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#slide--7 .slide-7 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--7 .slide-7 .-design {
  margin-bottom: 0;
}
#slide--7 .slide-7 .screens-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 5rem;
}
#slide--7 .slide-7 .screens-container .screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide--7 .slide-7 .screens-container .screen h3 {
  font-size: 2rem;
}
#slide--7 .slide-7 .screens-container .screen img {
  height: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#slide--8 .slide-8 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slide--9 .slide-9 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slide--10 .slide-10 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slide--11 .slide-11 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--11 .slide-11 h1 {
  color: #74cef2;
  font-size: 2.5rem;
}

#slide--12 .slide-12 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--12 .slide-12 h1 {
  color: #74cef2;
  font-size: 2.5rem;
}
#slide--12 .slide-12 li {
  font-size: 1.5rem;
}

#slide--13 .slide-13 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide--13 .slide-13 h1 {
  color: #74cef2;
  font-size: 4.5rem;
}

#slide--14 .slide-14 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide--14 .slide-14 h1 {
  color: #74cef2;
  font-size: 2.5rem;
}
#slide--14 .slide-14 p {
  font-size: 1.5rem;
}

#slide--15 .slide-15 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--15 .slide-15 .container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#slide--15 .slide-15 .container p {
  font-size: 1.5rem;
}
#slide--15 .slide-15 .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
#slide--15 .slide-15 .image-container img {
  width: 45%;
}

#slide--16 .slide-16 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide--16 .slide-16 h1 {
  color: #74cef2;
  font-size: 2.5rem;
}
#slide--16 .slide-16 p {
  font-size: 1.5rem;
}

#slide--17 .slide-17 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--17 .slide-17 .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
#slide--17 .slide-17 .image-container img {
  width: 12%;
}

#slide--18 .slide-18 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide--18 .slide-18 h1 {
  color: #74cef2;
  font-size: 2.5rem;
}
#slide--18 .slide-18 p {
  font-size: 1.5rem;
}

#slide--19 .slide-19 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide--19 .slide-19 h1 {
  color: #74cef2;
  font-size: 2.5rem;
}
#slide--19 .slide-19 p {
  font-size: 1.5rem;
}

#slide--20 .slide-20 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slide--20 .slide-20 .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
#slide--20 .slide-20 .image-container img {
  width: 25%;
}
#slide--20 .slide-20 p {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #043244;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 0;
  min-height: 8rem;
}
.header h1 {
  font-size: 2.5rem;
  margin: 0;
}
.header p {
  margin: 0.2rem;
}

.content-container {
  display: flex;
  margin: 0 10rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%;
  gap: 3rem;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.video-container video {
  width: 25rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0d5a78;
  width: 25rem;
  height: 30rem;
  padding: 1rem;
  border-radius: 0 3rem;
}
.card h2 {
  align-self: center;
  font-size: 2rem;
}
.card .card-content p {
  font-size: 1.3rem;
}

.list-content ul li {
  font-size: 1.5rem;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  color: black;
  margin: 0;
  background-color: rgb(28, 28, 28);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
body #root {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
body #root .slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
body #root .slideshow .hovered-slide-indicator {
  position: absolute;
  top: 50%;
  left: 10%;
  padding: 1rem;
  color: #eb7405;
}

body::-webkit-scrollbar {
  width: 0.3rem;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #eb7405;
  /* color of the scroll thumb */
  border-radius: 1rem;
  /* roundness of the scroll thumb */
  border: none;
  /* creates padding around scroll thumb */
}/*# sourceMappingURL=App.css.map */